$primary-font:'Montserrat', sans-serif;
$primary-regular:14px;
$primary-subheading:16px;
$primary-heading:18px;
$ipadpro:1025px;
$tablet:768px;

$primary-blue:#3861fb;
$primary-green:#16c784;
$primary-red: rgb(216, 27, 61);
$primary-grey:#696969;
$primary-purple:#490b3d;
$primary-yellow:#f1b814;
$primary-maroon:#bd1e51;



$primary-ms:0.9em;
$primary-me:0.9em